

<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>Big-Clock</title>
	</head>

	<link rel="stylesheet" href="./css/styles.css">

	<!-- CDN -->
	<link href="https://fonts.googleapis.com/css?family=Chivo+Mono:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic" rel="stylesheet" />
	<script src="https://kit.fontawesome.com/8070ea12a9.js" crossorigin="anonymous"></script>
	<link href="https://fonts.googleapis.com/css?family=Roboto+Slab:100,200,300,regular,500,600,700,800,900" rel="stylesheet" />
	<!-- CDN -->

	<!-- <script src="https://code.jquery.com/jquery-3.6.3.min.js"
		integrity="sha256-pvPw+upLPUjgMXY0G+8O0xUf+/Im1MZjXxxgOcBQBXU=" crossorigin="anonymous"></script> -->

	<body class="back-light">
		<!-- heading area -->
		<header>
			<span id="heading" class="sec-text sec-light">Big Clock</span>
			<span class="header-menu">
				<i class="fa-solid fa-moon text sec-light sec-text theme-toggle"></i>
				<i class="fa-solid fa-ellipsis-vertical text sec-light sec-text menu"></i>
			</span>
		</header>
		<!-- heading ends -->

		<!-- clock area -->
		<div id="main-area" class="main">
			<span class="main-text main-light" id="stopwatch-hour">HH</span>
			<span class="sep sec-light sec-text"></span>
			<span class="main-text main-light" id="stopwatch-minute">MM</span>
			<span class="sep sec-text sec-light"></span>
			<span class="main-light main-text" id="stopwatch-second">SS</span>
		</div>
		<!-- clock ends-->

		<!-- the footer area -->
		<footer>
			<!-- mode -->
			<div class="mode">
			</div>
		</footer>
		<!-- the footer area -->

		<div class="menu-list hidden text sec-light">
			<div class="menu-items">
				<div class="menu-label">Theme</div>
				<div class="menu-value"><%= THEME %></div>
			</div>
			<div class="menu-items">
				<div class="menu-label">Show Date</div>
				<div class="menu-value"><%= DATE %></div>
			</div>
			<div class="menu-items">
				<div class="menu-label">Time Zone</div>
				<div class="menu-value"><%= TZ %></div>
			</div>
		</div>

	</body>

	<script type="module" src="./js/stopwatch.js"></script>
	<script type="module" src="./js/script.js"></script>
</html>
