
:root {
    --light-bg: #fff;
    --light-txt: #000;
    --light-sec-txt: #678983;
    --dark-bg: #000;
    --dark-txt: #fff;
    --dark-sec-txt: #FB2576;
    --main-font: 'Roboto Slab';
    --secondary-font: 'Chivo Mono';
}

* {
    margin: 0;
    padding: 0;
}

.hidden {
    visibility: hidden;
}

body {
    height: 100vh;
    min-height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.main-text {
    font-size: 12rem;
    font-weight: bold;
    font-family: var(--secondary-font);
}

.sec-text {
    font-family: var(--main-font);
    font-size: 2.25rem;
}

.sep {
    margin: 1.5rem;
    font-size: 3rem;
}

.main {
    min-width: 50px;
    /* width: 45rem; */
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;

}

header {
    width: 95vw;
    position: absolute;
    top: 1rem;
    display: flex;
    justify-content: space-between;
    /* visibility: hidden; */
}

footer {
    display: flex;
    position: absolute;
    bottom: 1rem;
}

.theme-toggle {
    background-color: transparent;
    border: none;
}

.header-menu {
    display: flex;
    justify-content: flex-end;
    max-width: 30vw;
    min-width: 20vw;
    align-items: center;
}

.header-menu i {
    margin: 0 10px;
    font-size: 1.5rem;
}

.menu-items {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.menu-list {
    position: absolute;
    top: 60px;
    width: 15%;
    right: 40px;
    border: solid 1px;
    padding: 10px;
}

.minimize {
    position: absolute;
}

.text {
    font-family: var(--main-font);
}

/* Light mode */

.back-light {
    background-color: var(--light-bg);
}

.main-light {
    color: var(--light-txt);
    border-color: var(--light-txt);
}

.sec-light {
    color: var(--light-sec-txt);
    border-color: var(--light-sec-txt);
}

/* !Light mode */

/* Dark mode */

.back-dark {
    background-color: var(--dark-bg);
}

.main-dark {
    border-color: var(--dark-txt);
    color: var(--dark-txt);
}

.sec-dark {
    border-color: var(--dark-sec-txt);
    color: var(--dark-sec-txt);
}

/* !Dark mode */

::selection {
    color: rgb(70, 226, 31);
    background-color: transparent;
}

i {
    font-size: 1rem;
}

@media (orientation: portrait) {

    .main {
        flex-direction: column;
    }

    .sep {
        visibility: hidden;
    }

    .main-text {
        font-size: 26rem;
        font-weight: bold;
        font-family: var(--secondary-font);
    }

    .sec-text {
        font-family: var(--main-font);
        font-size: 4rem;
    }

    .header-menu i {
        font-size: 2.3rem;
        margin:0 20px;
    }
}
