* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    min-height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.main-text {
    font-size: 10rem;
    font-weight: bold;
    font-family: "Chivo Mono";
}

.sec-text {
    font-family: "Roboto Slab";
    font-size: 2.25rem;
}

.sep {
    margin: 2rem;
    font-size: 3rem;
}

.main {
    min-width: 50px;
    /* width: 45rem; */
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

header {
    width: 95vw;
    position: absolute;
    top: 1rem;
    display: flex;
    justify-content: space-between;
    /* visibility: hidden; */
}

footer {
    display: flex;
    position: absolute;
    bottom: 1rem;
}

.theme-toggle {
    background-color: transparent;
    border: none;
}

.extras {
    display: flex;
    justify-content: flex-end;
    max-width: 30vw;
    min-width: 20vw;
}


.text { 
    font-family: 'Roboto Slab';
}

/* Light mode */

.back-light {
    background-color: #f0e9d2;
}

.main-light {
    color: #181D31;
}

.sec-light {
    color: #678983;
}

/* Light mode */

/* Dark mode */

.back-dark {
    background-color: #180A0A;
}

.main-dark {
    color: #771a7c;
}

.sec-dark {
    color: #FB2576;
}

/* Dark mode */

::selection {
    color: rgb(70, 226, 31);
    background-color: transparent;
}

i {
    font-size: 1rem;
}

@media (orientation: portrait) {
  
    .main-text{
        font-size: 23rem;
    }
    .sec-text{
        font-size: 5rem;
    }
    .main {
        flex-direction: column;
    }
    .sep{
        visibility: hidden;
    }
}